body {
    color: rgb(150, 0, 187);
    background: black;
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
    margin-bottom: 100px;
}

header {
    border-bottom: solid 3px rgb(139, 5, 5);
    padding: 20px;
    font-size: 32px;
    color: rgb(4, 60, 133);
}

.chamada {
    background: rgb(136, 7, 136);
    padding-bottom: 70px;
    padding-top: 70px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 9%;
}

h1 {
    font-size: 50px;
}

p {
    font-size: 30px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria {
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 50px;
}

.categoria-videos img {
    opacity: 0.5;
    height: 300px;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 2px solid rgb(23, 94, 9);
}

.categoria h2 {
    color: rgb(182, 80, 12);
}